<ion-header>
  <ion-toolbar>
    <ion-title>archives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{base64}}">
    <ion-card-header>
      <ion-card-title>Information sur le document a archiver</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Type Document</ion-label>
          <ion-input type="text" [(ngModel)]="formData.type" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Numero du Document</ion-label>
          <ion-input type="text" [(ngModel)]="formData.numero"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Matricule Etudiant</ion-label>
          <ion-input type="text" [(ngModel)]="formData.matricule"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Niveau </ion-label>
          <ion-input type="text"  ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Annee Academique</ion-label>
          <ion-input type="text" [(ngModel)]="formData.annee"></ion-input>
        </ion-item>
      </ion-list>
       <ion-button expand="block" (click)="takePicture()">Ouvrir Camera</ion-button>
       <ion-button expand="block" (click)="addPhoto()">Ouvrir Explorateur </ion-button>
       <div *ngIf="butonAuth==true">
        <ion-button expand="block" (click)="uploadPhoto()">Archiver</ion-button>
       </div>
    </ion-card-content>

  </ion-card>
</ion-content>
