<ion-header>
  <ion-toolbar>
    <ion-title>attestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex container-lg flex-column py-5 px-5 default_option">

    <header class="w-100 d-flex fle x-column">
      <section class="w-100 d-flex align-items-center justify-content-between">
        <div class="d-flex content-state-data flex-column align-items-center">
          <span> REPUBLIQUE DU CAMEROUN </span>
          <span> Paix - Travail - Patrie </span>
          <span> ------------------------- </span>
          <span> FACULTE DES SCIENCES </span>
          <span style="font-size: smaller;"><em>FACULTY
              OF
              SCIENCES</em></span>
        </div>

        <div class="d-flex content-uy1-logo d-flex justify-content-center align-items-center">
          <!-- <img class="imgatt" src="att.jpeg" alt="" srcset="">
              {{-- <img src="assets/img/logo_ui.png" alt="university of yaounde 1" class="img-fluid" /> --}} -->

        </div>
        <div class="d-flex content-state-data flex-column align-items-center">
          <span> REPUBLIC OF CAMEROON </span>
          <span> Peace - Work - Fatherland </span>
          <span> ------------------------- </span>
          <span> UNIVERSITY OF YAOUNDE 1 </span>
          <span style="font-size: smaller;"><em>UNIVERSITY
              OF
              YAOUNDE 1 </em></span>
        </div>
      </section>
    </header>
    <br>

    <section>
      <span>
        PB/P.O. Box 812 Yaoundé <br> Tel: (237)222 234 496
        <br>
        Fax: (237)222 234 496 /<br>
        Email: diplome@facsciences.uy1.cm
      </span>

    </section>
    <br>
    <div class="d-flex flex-column align-items-center">
      <span class="lo text-center"> ATTESTATION DE REUSSITE
        AU</span>
      <span class="fs-2 text-center"> DIPLOME DE
        LICENCE</span>
      <span class="lo text-center"><em> BACHELOR'S DEGREE
          SUCSESS
          TESTIMONIAL</em></span>
    </div>
  </div>
  <div class="bottom-left">
    <div class="form-value ps-4 pt-1 text-uppercase num">
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;
      N° :
    </div>
  </div>
  <br>
  <div class="d-flex flex-column align-items-center parent ">
    <span>Le doyen de la faculté des Sciences de
      l'Université de
      Yaoundé, soussigné,</span>
    <span><em>The Dean of the Faculty of Science of the
        University of Yaounde I,
        undersigned,</em></span>
  </div>
  <br>
  <main class="w-100 d-flex flex-column align-items-center" style="margin-left: 40px; margin-right: 40px;">


      <section class="w-100 d-flex align-items-center justify-content-between" style="margin-right: 40px;">

        <div class="d-flex flex-column align-items-center" style="font-size: 7px!important; margin-top: -20px;">
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp;
          &nbsp;
          <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Vu
            le proces-verbal des deliberations du
            jury en date du
          </span>
          <span><em>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mindful of the
              official report of
              the deliberation of the jury
              dated</em>
          </span>
        </div>
        <br>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp;
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        <p class="text">
          <?php echo date('j F Y'); ?>
          &nbsp;&nbsp;
          &nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        </p>
        <br>
        <div class="dash" style="margin-right:40px!important;"></div>
      </section>
      <br>
      <section class="w-100 d-flex align-items-center justify-content-start" style="margin-top: -20px;">
        <div class="d-flex form-item me-5 pe-5">
          <div class="d-flex flex-column">
            <span class="fs-5 fw-bolder bold_part">
              Atteste que: </span>
            <span class="english_subtitle"> Certify
              that
            </span>
          </div>
          <div class="form-value ps-4 pt-1 text-uppercase" style="font-size: 7px!important;">
         
          </div>
        </div>

      </section>
      <section class="w-100 d-flex align-items-center justify-content-start">
        <div class="d-flex form-item">
          <div class="d-flex flex-column" style="margin-top: -30px;">
            <span class="fs-5 fw-bolder bold_part">
              M./Mme/Mlle </span>
            <span class="english_subtitle">
              Mr./Mrs./Mlle
            </span>
          </div>
        </div>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <span class="name" style="margin-left: -85px;">
          nom et prenom
        </span>
        <div class="dash"></div>
        <br>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <div class="d-flex flex-column" style="font-size: 7px!important ;margin-top: -40px;">
          <span>Mle</span>
          <span>Reg.N°</span>

        </div>
        &nbsp;&nbsp; &nbsp;&nbsp;
       
        <div class="dash"></div>
        
      </section>
      <section class="w-100 d-flex align-items-center justify-content-between">
        <div class="d-flex form-item me-5 pe-5 ">
          <div class="d-flex flex-column">
            <span class="fs-5 fw-bolder bold_part">Né(e)
              le: &nbsp;</span>

            <span class="english_subtitle"> Born on
            </span>
          </div>

        </div>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <div class="date_naissance">
          date naiss
        </div>
        <div class="dash"></div>
        <br>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <div class="d-flex flex-column">
          <span>a</span>
          <span>at</span>

        </div>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <p class="ville">
         lieu anissan
        </p>
        <div class="dashv"></div>


      </section>

      <section class="w-100 d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column">
          <span>a subi avec succes,les epreuves
            sanctionnant l examen de la</span>
          <span class="english_subtitle"> has
            successfully fulfiled the requirement of
            the
          </span>
        </div>

        {{-- <div class="d-flex form-item">
          <div class="d-flex flex-column">
            <span class="fs-5 fw-bolder bold_part">
              Année Academique: </span>
            <span class="english_subtitle"> Academic
              year </span>
          </div>
          <div class="form-value ps-4 pt-1">

          </div>
        </div> --}}

      </section>


   
    <section class="w-100 d-flex align-items-center justify-content-between">
      <div class="d-flex form-item me-5 pe-5 ">
        <div class="d-flex flex-column">
          <span class="fs-5 fw-bolder bold_part">Licence
            de</span>

          <span class="english_subtitle"> Bachelor's
            Defree in</span>

        </div>

      </div>
      &nbsp;&nbsp;&nbsp;
      <div class="name">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        TECHNICIEN
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="dashl"></div>
      <br>



    </section>
    <section class="w-100 d-flex align-items-center justify-content-between">
      <div class="d-flex form-item me-5 pe-5 ">
        <div class="d-flex flex-column">
          <span class="fs-5 fw-bolder bold_part">Specialite/Option</span>

          <span class="english_subtitle">
            Speciality/Option
          </span>
        </div>

      </div>
      &nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;


      <div class="namespecialit">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="dashl"></div>
      <br>




    </section>
    <section class="w-100 d-flex align-items-center justify-content-between">
      <div class="d-flex form-item me-5 pe-5 ">
        <div class="d-flex flex-column">
          <span class="fs-5 fw-bolder bold_part"><em>Session
              de</em></span>

          <span class="english_subtitle">Session</span>

        </div>

      </div>
      &nbsp;&nbsp;&nbsp;
      <div class="d-flex flex-column">
        <span class="fs-5 fw-bolder bold_part1">
          <?php echo date('F Y'); ?>
          avec une moyenne generale pondere(MGP)
          de:
           ,credit(s):180
          et la mention
          Bien
        </span>

        <span class="english_subtitle1">with a
          cummulate
          grade point Average(GPA)
          of: /4.00,credit:180
          and Grade:Good</span>

      </div>



    </section>
    <br>
    <section class="w-100 d-flex align-items-center align-items-center">

      <div class="d-flex flex-column">
        <span class="fs-5 fw-bolder bold_part1 english_subtitle1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          En foi de quoi la presente attestation
          est
          établie et lui est délivrée pour servir
          et
          valoir ce droit</span>

        <span class="english_subtitle2">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In
          writness where of the present Testimonial is
          given with the privileges there into
          pertaining./</span>

      </div>



    </section>

    <section class="w-100 d-flex flex-column" style="font-size: 12px">

      <div>
        <div class="d-flex ">

          <div class="content-recap w-100 mt-3 bloc">
            <table class=" table-sm">
              <thead class="text-center">
                <th>
                  <span> Systeme de notation /
                    Grapping </span>
                </th>

              </thead>
              <thead>
                <th>
                  <span>MGP/4 </span>
                </th>
                <th>
                  <span>Cote </span>
                </th>
                <th>
                  <span>Mention/Grade </span>
                </th>

              </thead>
              <tbody>
                <tr>
                  <td> [200-220[ </td>
                  <td class="text-center">C
                  </td>
                  <td>Passable/Pass</td>
                </tr>
                <tr>
                  <td> [220-240[" </td>
                  <td class="text-center">C+
                  </td>
                  <td>Passable/Pass</td>
                </tr>
                <tr>
                  <td> [240-260[ </td>
                  <td class="text-center">B-
                  </td>
                  <td>Assez-Bien / Fair</td>
                </tr>
                <tr>
                  <td> [260-280[ </td>
                  <td class="text-center">B
                  </td>
                  <td>Assez-Bien / Fair</td>
                </tr>
                <tr>
                  <td> [280-300[ </td>
                  <td class="text-center">B+
                  </td>
                  <td>Bien / Good</td>
                </tr>
                <tr>
                  <td> [300-320[ </td>
                  <td class="text-center">A-
                  </td>
                  <td>Passable/Pass</td>
                </tr>
                <tr>
                  <td> [300-400[ </td>
                  <td class="text-center">A
                  </td>
                  <td>Passable/Pass</td>
                </tr>
                <tr>
                  <td> 4.00 </td>
                  <td class="text-center">A+
                  </td>
                  <td>Excellent</td>
                </tr>

              </tbody>
            </table>



          </div>
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </section>
    <section class="w-100 d-flex flex-column align-items-center">
      <span class="w-100 decision-data d-flex flex-column w-auto">
        <span class="yaous"> Yaouné le /The
          <?php echo date('j F Y'); ?>
        </span>

        <!--to change-->
      </span>
    </section>
    <section class="w-100 d-flex align-items-center justify-content-between">
      <div class="d-flex flex-column">
        <span>Le chef de departement de</span>
        <span class="english_subtitle"> The Head of the
          departement
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="text-decoration: underline;">Information
            and commucation Technologie</span>
        </span>
      </div>

      <div class="d-flex flex-column">
        <span class="fs-5 fw-bolder bold_part1">
          Le Doyen/The Dean</span>

      </div>
      <div class="form-value ps-4 pt-1">

      </div>


    </section>
    <br>
    <section>

      <div class="d-flex flex-column">
        <span
          class="english_subtitle1"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            En foi de quoi la presente attestation
            est
            établie et lui est délivrée pour servir
            et
            valoir ce droit.</em></span>

        <span class="english_subtitle">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          In writness where of the present Testimonial
          is
          given with the privileges there into
          pertaining./</span>

      </div>



    </section>
    <br>
    <section class="w-100 d-flex align-items-center justify-content-between">
      <div class="d-flex flex-column">
        <span></span>
        <span class="english_subtitle">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="text-decoration: underline;"></span>
        </span>
      </div>
      <div class="form-value ps-4 pt-1">
      </div>
      <div class="d-flex form-item">
        <div class="d-flex flex-column">
          <span class="english_subtitle">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a/FS.Imprimé le 06/01/2023</span>
          <span class="english_subtitle">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CopyRight
            GICA SUNGO</span>


        </div>

      </div>

    </section>

  </main>
</ion-content>