<ion-header>
  <ion-toolbar>
    <ion-title>attestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex container-lg flex-column py-5 px-5 default_option">

    <header class="w-100 d-flex fle x-column">
      <section class="w-100 d-flex align-items-center justify-content-between">
          <div class="d-flex content-state-data flex-column align-items-center">
              <span> REPUBLIQUE DU CAMEROUN </span>
              <span> Paix - Travail - Patrie </span>
              <span> ------------------------- </span>
              <span> FACULTE DES SCIENCES </span>
              <span style="font-size: smaller;"><em>FACULTY
                      OF
                      SCIENCES</em></span>
          </div>

          <div class="d-flex content-uy1-logo d-flex justify-content-center align-items-center">
              <!-- <img class="imgatt" src="att.jpeg" alt="" srcset="">
              {{-- <img src="assets/img/logo_ui.png" alt="university of yaounde 1" class="img-fluid" /> --}} -->

          </div>
          <div class="d-flex content-state-data flex-column align-items-center">
              <span> REPUBLIC OF CAMEROON </span>
              <span> Peace - Work - Fatherland </span>
              <span> ------------------------- </span>
              <span> UNIVERSITY OF YAOUNDE 1 </span>
              <span style="font-size: smaller;"><em>UNIVERSITY
                      OF
                      YAOUNDE 1 </em></span>
          </div>
      </section>
  </header>
  <br>

  <section>
      <span>
          PB/P.O. Box 812 Yaoundé <br> Tel: (237)222 234 496
          <br>
          Fax: (237)222 234 496 /<br>
          Email: diplome@facsciences.uy1.cm
      </span>

  </section>
  <br>
  <div class="d-flex flex-column align-items-center">
    <span class="lo text-center"> ATTESTATION DE REUSSITE
        AU</span>
    <span class="fs-2 text-center"> DIPLOME DE
        LICENCE</span>
    <span class="lo text-center"><em> BACHELOR'S DEGREE
            SUCSESS
            TESTIMONIAL</em></span>
</div>
  </div>
</ion-content>
