<ion-header>
  <ion-toolbar>
    <ion-title>releve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="d-flex container-lg flex-column py-5 px-5 default_option">
        <header class="w-100 d-flex fle x-column">
            <section class="w-100 d-flex align-items-center justify-content-between">
                <div class="d-flex content-state-data flex-column align-items-center">
                    <span id="some_id" class="font26"> REPUBLIQUE DU CAMEROUN </span>
                    <span id="some_id" class="font26"> Paix - Travail - Patrie </span>
                    <span id="some_id" class="font26"> ------------------------- </span>
                    <span id="some_id" class="font26"> UNIVERSITE YAOUNDE 1 </span>
                </div>
                <div class="d-flex content-uy1-logo d-flex justify-content-center align-items-center">
                 
                </div>
                <div class="d-flex content-state-data flex-column align-items-center">
                    <span id="some_id" class="font26"> REPUBLIC OF CAMEROON </span>
                    <span id="some_id" class="font26"> Peace - Work - Fatherland </span>
                    <span id="some_id" class="font26"> ------------------------- </span>
                    <span id="some_id" class="font26"> UNIVERSITY OF YAOUNDE 1 </span>
                </div>
            </section>
        </header>
        <section class="w-100 d-flex flex-column align-items-center py-4" style="padding-bottom: 0px !important;margin-top: -20px;">
            <span id="some_id" class="fw-normal font25" class="font26"> FACULTE DES SCIENCES </span>
            <span id="some_id" class="font26">
                PB/P.O. Box 812 Yaoundé CAMEROUN : Tel: 222-234-496 / Email:diplome@facsiences.uy1.cm
            </span>
            <span id="some_id" class="font25"> RELEVE DE NOTES/TRANSCRIPT </span>
        </section>
        <div class="bottom-left">
            <div class="form-value font20 numero "> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
                N° : {{releve.id_releve?releve.id_releve:' '}}
             </div><!--to change dans la table releve-->
          </div>
        <main class="w-100 d-flex flex-column align-items-center">
            <section class="w-100">
                <section class="w-100 d-flex align-items-center justify-content-between">
                    <div class="d-flex form-item">
                        <div class="d-flex flex-column">
                            <span class="fw-bolder font20"> Noms et Prénoms: {{etudiant.nom?etudiant.nom:''}} {{etudiant.prenom?etudiant.prenom:''}}</span>
                            <span class="english_subtitle font20"> Surname and Name </span>
                        </div>
                        <div class="form-value  font20"></div>
                    </div>
                    <div class="d-flex form-item">
                        <div class="d-flex flex-column">
                            <span class="fw-bolder  font20"> Matricule: </span>
                            <span class="english_subtitle font20"> Registration</span>
                        </div>
                        <div class="form-value font20 matricule">{{releve.etudiant?releve.etudiant:''}}</div>
                    </div>
                </section>
                <section class="w-100 d-flex align-items-center justify-content-start">
                    <div class="d-flex form-item me-5 pe-5">
                        <div class="d-flex flex-column">
                            <span class="fs-5 fw-bolder bold_part"> Né(e) le: </span>
                            <span class="english_subtitle"> Born on </span>
                        </div>
                        <div class="font20 info">{{etudiant.date_naissance?etudiant.date_naissance:''}}</div>
                    </div>
                    &nbsp;
                    <div class="d-flex form-item">
                        <div class="d-flex flex-column">
                            <span class="fs-5 fw-bolder bold_part"> A: </span>
                            <span class="english_subtitle"> At </span>
                        </div>
                        <div class="font20 info">{{etudiant.lieu_naissance?etudiant.lieu_naissance:''}}</div>
                    </div>
                </section>
                <section class="w-100 d-flex align-items-center justify-content-start">
                    <div class="d-flex form-item">
                        <div class="d-flex flex-column">
                            <span class="fs-5 fw-bolder bold_part"> Domaine: </span>
                            <span class="english_subtitle"> Domain </span>
                        </div>
                        <div class="form-value font20 info">
                            SCIENCES MATHEMATIQUES ET INFORMATIQUES
                        </div>
                    </div>
                </section>
                <section class="w-100 d-flex align-items-center justify-content-between">
                    <div class="d-flex form-item me-5 pe-5 ">
                        <div class="d-flex flex-column">
                            <span class="fs-5 fw-bolder bold_part">Niveau:</span>
                            <span class="english_subtitle"> Level </span>
                        </div>
                        <div class="form-value font20 info">{{releve.niveau?releve.niveau:''}}</div>
                    </div>
                  
                    <div class="d-flex form-item">
                        <div class="d-flex flex-column dis">
                            <span class="fw-bolder bold_part"> Filière :  &nbsp;</span>
                            <span class="english_subtitle"> Discipline </span>
                        </div>
                        <div class="form-value font20 info">{{releve.filiere?releve.filiere:''}}</div>
                    </div>
                </section>
                <section class="w-100 d-flex align-items-center justify-content-between">
                    <div class="d-flex form-item">
                        <div class="d-flex flex-column">
                            <span class="fs-5 fw-bolder bold_part"> Spécialité: </span>
                            <span class="english_subtitle"> Option </span>
                        </div>
                        <div class="form-value font20 info"></div>
                    </div>
                    <div class="d-flex form-item">
                        <div class="d-flex flex-column">
                            <span class="fs-5 fw-bolder bold_part"> Année Academique: </span>
                            <span class="english_subtitle"> Academic year </span>
                        </div>
                        <div class="form-value font20 info">{{releve.anneeAcademique?releve.anneeAcademique:''}}</div>
                    </div>
                </section>
            
                    <table class="w-100 ">
                        <thead>
                            <tr>
                                <th>
                                    <span> Code UE </span>
                                </th>
                                <th>
                                    <span> Intitulé de l'UE / UE Title </span>
                                </th>
                                <th>
                                    <span>
                                        crédit
                                    </span>
                                </th>
                                <th>
                                    <span> Moy / 100 </span>
                                </th>
                                <th>
                                    <span>
                                        Mention
                                    </span>
                                </th>
                                <th>
                                    <span>
                                        Semestre 
                                    </span>
                                </th>
                                <th>
                                    <span>
                                        Année 
                                    </span>
                                </th>
                                <th>
                                    <span>
                                        Décision
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let note of notes">
                                <td>{{note.ue?note.ue:''}}</td>
                                <td>{{note.nom_ue?note.nom_ue:''}}</td>
                                <td>{{note.credit?note.credit:''}}</td>
                                <td>{{note.note?note.note:''}}</td>
                                <td>{{note.mention?note.mention:''}}</td>
                                <td>{{note.semestre?note.semestre:''}}</td>
                                <td>{{note.annee?note.annee:''}}</td>
                                <td>{{note.decision}}</td>
                            </tr>
                        </tbody>
                    </table>
            </section>
            <section class="w-100 d-flex flex-column align-items-center">
                <span class="w-100 decision-data d-flex flex-column w-auto">
                    <span class="font20"> Crédit Capitalisés: 60/60 (100.00%) </span>
                    <span class="font20"> Moyenne Générale Pondérée (MGP): {{releve.mgp?releve.mgp:''}} /4 </span>
                    <span class="font20"> Decision: <b> {{releve.decision? releve.decision : ' '}} </b> </span>
                </span>
            </section>
            <section class="w-100 d-flex flex-column" style="font-size: 6px">
                <div class="d-flex">
                      <div><u> Légende: </u></div>
  
                      <div class="d-flex flex-column">
                          <br />
                          <span> CA: Capitalisé </span>
                          <span> CANT: Capitalisé Non transferable </span>
                          <span> NC: Non Capitalisé </span>
                      </div>
                  </div>
                  <div>
                      <div class="d-flex ">
                          
                          <div class="content-recap w-100 mt-3 bloc">
                              <table class="">
                                  <thead>
                                      <th>
                                          <span> Note / 100 </span>
                                      </th>
                                      <th>
                                          <span> Cote </span>
                                      </th>
                                      <th>
                                          <span>
                                              Qualité 
                                              de point
                                          </span>
                                      </th>
                                      <th>
                                          <span class="px-5"> Mention </span>
                                      </th>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>>= 80</td>
                                          <td class="text-center">A</td>
                                          <td>4.00</td>
                                          <td>Très Bien</td>
                                      </tr>
  
                                      <tr>
                                          <td>75 - 79</td>
                                          <td class="text-center">A-</td>
                                          <td>3.70</td>
                                          <td rowspan="2">
                                              <span> Bien </span>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>70 - 74</td>
                                          <td class="text-center">B+</td>
                                          <td>3.30</td>
                                      </tr>
  
                                      <tr>
                                          <td>65 - 69</td>
                                          <td class="text-center">B</td>
                                          <td>3.00</td>
                                          <td rowspan="2">
                                              <span> Assez Bien </span>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>60 - 64</td>
                                          <td class="text-center">B-</td>
                                          <td>2.70</td>
                                      </tr>
  
                                      <tr>
                                          <td>55 - 59</td>
                                          <td class="text-center">C+</td>
                                          <td>2.30</td>
                                          <td rowspan="2">
                                              <span> Passable </span>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>50 - 54</td>
                                          <td class="text-center">C</td>
                                          <td>2.00</td>
                                      </tr>
  
                                      <tr>
                                          <td>45 - 49</td>
                                          <td class="text-center">A-</td>
                                          <td>1.70</td>
                                          <td rowspan="3">
                                              <span class="px-2">
                                                  Crédit Capitalisé Mais non transferable
                                              </span>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>40 - 44</td>
                                          <td class="text-center">B+</td>
                                          <td>1.30</td>
                                      </tr>
                                      <tr>
                                          <td>35 - 39</td>
                                          <td class="text-center">D</td>
                                          <td>1.00</td>
                                      </tr>
  
                                      <tr>
                                          <td>30 - 35</td>
                                          <td class="text-center">E</td>
                                          <td rowspan="2">
                                              <span> 0.00 </span>
                                          </td>
                                          <td rowspan="2">
                                              <span> Echec</span>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                          30</td>
                                          <td class="text-center">F</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                     </div>
                     <div class="d-flex  d"></div>
              </section>
        </main>
   </div>
  
</ion-content>
