<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Scan Document
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <img alt="Silhouette of mountains" src="{{photo}}" />
      <ion-card-header>
        <ion-card-title>Scan Your Document</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>
    
      <ion-card-content>
        <ion-button expand="block" (click)="openSccanner()">Open Sccanner</ion-button>
        <ion-button expand="block" (click)="getPicture()">Send Document</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>