<ion-content [fullscreen]="true">
  <ion-card class="ion-no-margin">
    <img src="../../assets/IonicAssets/header.png" alt="" srcset="" class="image">
    <ion-card-header>
      <ion-card-title>
        Welcome
      </ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">
        Premiere application d'authentification avec ocr au Cameroun
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="sign-btn">
        <ion-button fill="solid" shape="round" class="login-btn" routerLink="/upload">Scan document</ion-button>
        <ion-button fill="outline" shape="round" color="dark" class="login-btn" >Cancel</ion-button>
      </div>
       <div class="ta-text">
         <span>Social Medias</span>
       </div>
      <div class="Social-btn">
         <ion-icon name="mail"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
    <!-- <ion-card>
      <img alt="Silhouette of mountains" src="{{photo}}" />
      <ion-card-header>
        <ion-card-title>Scan Your Document</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle> 
      </ion-card-header>
    
      <ion-card-content>
        <ion-button expand="block" (click)="openSccanner()">Open Sccanner</ion-button>
        <ion-button expand="block" (click)="getPicture()">Send Document</ion-button>
      </ion-card-content>
    </ion-card> -->
</ion-content>